/*

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
/*

/* M O D I F I C A C I O N E S */

/*
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border: 1px solid  black;
  color: white;
}


.header .nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.header .nav a:hover {
  color: #00aaff;
}

 ---  Responsive simple 
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .header .nav a {
    display: block;
    margin: 10px 0;
  }
}


*/




