* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  /* height: 100vh;*/ /* ocupa el 100% de la altura de la ventana */
  display: flex;
  background-color: #0778a5;
}

.containerReal {
  
  /*TENEMOS 2 OPCIONES PARA ALINEAR EL ELEMENTO*/

  /*OPCIÓN 1:*/
  margin-top: 130px;
  flex: 1;
  
  /*OPCIÓN 2:
  padding-top: 150px;
  padding-bottom: 50px;
  max-height: 1000px; --Altura--
  */

  width: 100%; /* asegura que se estire a todo el ancho */
  max-height: 500px; /* ALTURA DEL ELEMENTO */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  text-align: justify;
}

.container {
  /*flex: 1;*/
  width: 100%; /* asegura que se estire a todo el ancho */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid black;
}

.containerReal > img {
  height: 400px;
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 1000px;
}

.containerReal > img {
  filter: grayscale(0%); /* blanco y negro */
  transition: filter 0.3s ease;
}

.containerReal > img:hover {
  filter: grayscale(100%); /* vuelve al color al pasar el ratón */
}

.sobreMi {
  width: 900px;
}

.sobreMi > h2 {
  font-size: 30px;
}

.sobreMi > p {
  font-size: 20px;
}
