.contact-section {
  padding: 20px 20px;
  text-align: center;
  background: #0a0c12;
  background-color: #0a0c12;
  box-sizing: border-box;
}

.contact-section h2 {
  color: #00ffff;
  margin-bottom: 2rem;
  font-size: 2rem;
  margin-bottom: 10px;
}

/* FORMULARIO */
.contact-form {
  max-width: 1100px; /* MÁS ANCHO */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 26px; /* más separación */
}

/* Labels encima */
.contact-form label {
  font-size: 1.2rem;
  color: #00ffff;
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
  text-align: left;
}

/* Inputs largos y centrados */
.contact-form input,
.contact-form textarea {
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
  border: 2px solid rgba(0, 255, 255, 0.35);
  padding: 14px;
  border-radius: 10px;
  color: #d6d6d6;
  font-size: 1rem;
  transition: 0.25s ease;
  box-shadow: 0 0 8px rgba(0, 255, 255, 0.15);
}

.contact-form textarea {
  min-height: 120px;
  resize: vertical;
}

/* Hover / focus */
.contact-form input:hover,
.contact-form textarea:hover,
.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #00ffff;
  box-shadow: 0 0 14px rgba(0, 255, 255, 0.45);
  outline: none;
}

/* BOTÓN */
.contact-form button {
  background: #00b3b3;
  border: none;
  padding: 16px;
  border-radius: 12px;
  font-size: 1.1rem;
  font-weight: 700;
  color: black;
  cursor: pointer;
  transition: 0.25s ease;
  width: 100%;
  margin-top: 10px;
}

.contact-form button:hover {
  background: #00ffff;
  transform: translateY(-3px);
  box-shadow: 0 0 18px rgba(0, 255, 255, 0.45);
}

.contact-form .field {
  width: 100%;
  margin-bottom: 20px;
}

.contact-form .field button {
  width: 100%;
  margin: 0 auto;
  display: block;
  margin-left: 18px;
}

@media (max-width: 768px) {
  .contact-section h2 {
    margin-left: 35px;
  }
  .contact-section {
    border-right: 0px solid #0a0c12;
  }
}

@media (max-width: 837px) {
  .contact-section h2 {
    margin-left: 35px;
  }
  .contact-section {
    border-right: 13px solid #0a0c12;
  }
}

@media (max-width: 1261px) {
  .contact-section h2 {
    margin-left: 35px;
  }

  .contact-section {
    border-right: 30px solid #0a0c12;
  }
}

