.footer {
  width: 100%;
  padding: 30px 0;
  background: #0b0f14;
  border-top: 1px solid rgba(0, 255, 255, 0.15);
  text-align: center;
  margin-top: 0;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 5px;
}

.linkedIn {
  padding-right: 10px;
  cursor: pointer;
  transition: 0.3s;
  filter: drop-shadow(0 0 8px rgba(0, 255, 255, 0.2));
}

.github{
  padding-left: 10px;
  cursor: pointer;
  transition: 0.3s;
  filter: drop-shadow(0 0 8px rgba(0, 255, 255, 0.2));
}


/* Estilo base (pantallas grandes) */
.github {
  height: 50px;
  width: auto;
}

.linkedIn {
  height: 50px;
  width: auto;
}

/* Ordenador y portátiles */
@media (max-width: 1200px) {
  .github {
    height: 45px;
  }
  .linkedIn {
    height: 45px;
  }
}

/* Tablets grandes / pantallas medianas */
@media (max-width: 992px) {
  .github {
    height: 40px;
  }
  .linkedIn {
    height: 40px;
  }
}

/* Móviles pequeños */
@media (max-width: 480px) {
  .github {
    height: 40px;
  }
  .linkedIn {
    height: 40px;
  }
}

.linkedIn:hover {
  opacity: 1;
  transform: translateY(-4px);
  filter: drop-shadow(0 0 12px rgba(0, 255, 255, 0.5));
}



.github:hover {
  opacity: 1;
  transform: translateY(-4px);
  filter: drop-shadow(0 0 12px rgba(0, 255, 255, 0.5));
}
