* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


.Sobre_mi {
  height: 100vh; /* ocupa el 100% de la altura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #0778a5;
  color: white;
}
